@model EntityLayer.Concrete.Expereince
@{
    ViewData["Title"] = "AddExpereince";
    Layout = "~/Views/Shared/_coronolayout.cshtml";
}



@using (Html.BeginForm("AddExpereince", "Expereince", FormMethod.Post))
{
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
      
            <p class="card-description"> Yeni Deneyim ekleme Paneli </p>
            <form class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputName1">Başlık</label>
                    <input type="text" class="form-control"name="Name" >
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Tarih</label>
                    <input type="text" class="form-control"name="Tarih" >
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">resim</label>
                    <input type="text" class="form-control" name="ImageUrl" >
                </div>
                
         
           
                <div class="form-group">
                    <label for="exampleTextarea1">Açıklama</label>
                    <textarea class="form-control"name="Description"  rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <button class="btn btn-dark">İptal</button>
            </form>
        </div>
    </div>
</div>

}


@*<br />
@Html.Label("Deneyim Başlığı")
@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
<br />
@Html.Label("Deneyim Tarih")
@Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
<br />
@Html.Label("Deneyim Resim")
@Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
<br />
@Html.Label("Deneyim Başlığı")
@Html.TextAreaFor(x => x.Decription, 10, 3, new { @class = "form-control" })
<br /*@>